*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*/config.properties
app/src/main/rew/raw/config.properties
app/src/main/res/raw/config\.properties
